@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.apartment {
  min-height: 100vh;
  min-width: 100vw;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.tv {
  position: absolute;
  width: 55px;
  right: 810px;
  bottom: 520px;
  height: 50px;
  transform: skewY(30deg);
}

.fridge {
  position: absolute;
  width: 80px;
  right: 770px;
  bottom: 372px;
  height: 128px;
  transform: skewY(-30deg);
}

.laptop {
  position: absolute;
  width: 45px;
  right: 810px;
  bottom: 520px;
  height: 41px;
  transform: skewY(30deg);
}

.book-shelf {
  position: absolute;
  width: 47px;
  right: 770px;
  bottom: 372px;
  height: 120px;
  transform: skewY(30deg);
}

.gradient-bg {
  min-height: 100vh;
  background: linear-gradient(to bottom, #7a534f, black 30%, #000 70%);
}

.album-bg {
  background-color: #6d514b;
}

.list-bg {
  min-height: 100vh;
  background: linear-gradient(to bottom, #FC8EAC, black 40%, #000 60%);
}

.box-shadow {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
}

.store-bg {
  background-color: #fcfdf9;
}

.tv-arrow {
  position: absolute;
  width: 55px;
  right: 810px;
  bottom: 520px;
  height: 60px;
}

.laptop-arrow {
  position: absolute;
  width: 43px;
  right: 810px;
  bottom: 520px;
  height: 41px;
}

.book-shelf-arrow {
  position: absolute;
  width: 55px;
  right: 770px;
  bottom: 372px;
  height: 60px;
}


.img-bg {
  background-color: #0f0f0f;
}

.link1{
  transform: skewY(-30deg);
}

.link1-img{
  transform: skewY(30deg);
}

.animated-dot {
  fill: white;
  transform-origin: center;
}

.dot-wrapper {
  position: absolute;
  width: 15px;
  height: 15px;
  transform: translate(-50%, -50%);
}

.dot {
  position: absolute;
  width: 11px;
  height: 11px;
  background-color: white;
  border-radius: 50%;
}

.dot::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid white;
  transform: translate(-50%, -50%);
  animation: ring-pulsate 1.5s infinite;
}

@keyframes ring-pulsate {
  0% {
      transform: translate(-50%, -50%) scale(1);
      opacity: 1;
  }
  100% {
      transform: translate(-50%, -50%) scale(4);
      opacity: 0;
  }
}

.background-gradient {
  background: linear-gradient(to bottom, #d8b4e2, #f47575);
  height: 100vh;
  width: 100%;
}